<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-back-button defaultHref="/books/tabs/discover"></ion-back-button>
        </ion-buttons>
        <ion-title>Book</ion-title>
    </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
    <ion-grid *ngIf="bookDetails" class="ion-no-padding">
        <ion-row class="ion-align-items-center">
            <ion-col size-sm="8" class="ion-text-center">
                <img [src]="bookDetails.imageUrl"/>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3" class="ion-text-center" class="ion-padding">
                <p><ion-text color="primary">Author: </ion-text>{{ bookDetails.author }}</p>
                <p><ion-text color="primary">Title: </ion-text>{{ bookDetails.title }}</p>
                <p><ion-text color="primary">Description: </ion-text>{{ bookDetails.description }}</p>
            </ion-col>
        </ion-row>
        <ion-row>
        <ion-col size-sm="6" offset-sm="3" class="ion-text-right">
            <ion-button 
                color="primary"  
                class="ion-margin" 
                (click)="onWishBook($event)">
                Add to Wishlist</ion-button>
        </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
