<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>SymphoBook</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/books/tabs/discover">
            <ion-icon name="book-outline" slot="start"></ion-icon>
            <ion-label>Discover Books</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/wishlist">
            <ion-icon name="heart-outline" slot="start"></ion-icon>
            <ion-label>Wishlist</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer >
      <ion-toolbar>
        <ion-list>
          <ion-item lines="none">
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>Dark Theme</ion-label>
            <ion-toggle id="themeToggle" slot="end"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
