<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="discover">
            <ion-label>Books</ion-label>
            <ion-icon name="search"></ion-icon>
        </ion-tab-button>
        <!-- <ion-tab-button tab="new-book">
            <ion-label>New</ion-label>
            <ion-icon name="newspaper-outline"></ion-icon>
        </ion-tab-button> -->
        <ion-tab-button tab="last-book">
            <ion-label>Last book</ion-label>
            <ion-icon name="pause-circle-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="notifications">
            <ion-label>Notifications</ion-label>
            <ion-badge color="danger">{{ bookGroup.length }}</ion-badge>
            <ion-icon name="notifications-outline"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>


