<ion-row *ngIf="!profileDetails"  
  class="ion-justify-content-center spinner-center">
  <ion-col class="ion-padding" size="2">
    <ion-spinner color="secondary"></ion-spinner>
  </ion-col>
</ion-row>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content has-header="true">
  <div class="profile-bg"></div>
  <div class="content" *ngIf="profileDetails" (newItemEvent)="profileDetails">
    <div class="profile-info">
      <img class="profile-image" src="assets/image/profil.jpg">
      <h3 class="profile-name">{{ profileDetails.name }}</h3>
      <span class="profile-description">{{ profileDetails.description }}</span>
    </div>
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Birthday: </ion-text>
          </ion-label>
          <ion-note slot="end">{{ profileDetails.birthday }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Phone number: </ion-text>
          </ion-label>
          <ion-note slot="end">{{ profileDetails.phoneNumber }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Love: </ion-text>
          </ion-label>
          <ion-note slot="end">{{ profileDetails.love }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Favorite books: </ion-text> 
          </ion-label>
          <ion-note slot="end">
            <ion-list *ngFor="let book of profileDetails.favoriteBook">
              <ion-item>
                <ion-label>{{ book }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-note>
        </ion-item>
      </ion-list>
      <ion-row class="ion-justify-content-end">
        <ion-col class="ion-margin" size="2">
          <ion-button color="tertiary" (click)="onEditProfile()" ><ion-icon name="create-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row> 
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ng-container>
      <syb-footer-player [currentFile]="currentFile"></syb-footer-player>
  </ng-container>
</ion-footer>