<ion-header [translucent]="true">
  <ion-toolbar class="align-header" >
    <ion-searchbar 
      [(ngModel)]="searchInput"
      [debounce]=1000
      inputmode="text"
      type="text"
      pattern="[a-zA-Z ]*"
      search-icon="recording-outline"
      clear-icon="close-circle-outline"
      (ionChange)="onSearchInput($event)"
      (ionCancel)="onSearchCancel($event)"
      (ionClear)="onSearchClear($event)">
    </ion-searchbar>

    <ion-buttons slot="end">
      <ion-button (click)="onCancel()"><ion-icon name="chevron-down-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <syb-image-picker (getText)="searchAfterImage($event)"></syb-image-picker>
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-row>
      <ion-col
        size-md="6"
        offset-md="3"
        *ngIf="!loadedBook || loadedBook.length <= 0"
        class="ion-text-center"
      >
        <p>Nothing found!</p>
      </ion-col>
      <ion-col
        size-md="6"
        offset-md="3"
        *ngIf="loadedBook && loadedBook.length> 0"
      >
      <ion-virtual-scroll
        [items]="loadedBook"
        approxItemHeight="70px">
        <ion-list
          *virtualItem="let book ">
          <ion-item
              detail
              (click)="onSelectedBook(book.id)"
              [routerLink]="['/', 'books', 'tabs', 'discover', book.id]"
            >
              <ion-thumbnail slot="start">
                <img [src]="book.photo">
            </ion-thumbnail>
          
            <ion-label>
              <h5>{{ book.title }}</h5>
              <p>{{ book.author }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>